.cell {
    position: absolute;
    background: gray;
    border: 2px solid red;
}

.cell1 {
   position: absolute;
   background-color: yellow;
   border: 2px solid orange; 
}

#cellId > div:nth-child(1) {
    position: absolute;
    top : 0;
    left: 30%;
    height: 30%;
    width: 40%;
    opacity: 0;
}

#cellId > div:nth-child(3) {
    position: absolute;
    bottom : 0px;
    left: 30%;
    height: 30%;
    width: 40%;
    opacity: 0;
}

#cellId > div:nth-child(2) {
    position: absolute;
    top : 30%;
    right: 0px;
    height: 40%;
    width: 30%;
    opacity: 0;
}

#cellId > div:nth-child(4) {
    position: absolute;
    top : 30%;
    left: 0px;
    height: 40%;
    width: 30%;
    opacity: 0;
}


#cellId > div {
    font: bold 16px Tahoma;
    text-align: center;
    cursor: default;
}

#cellId > div > p {
    margin: 0;
    padding: 0;
}


.parkContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border: 2px solid blue;
    background-color: lightblue; 
}

#plus > div{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #aaaaaa;
    text-align: center;
    font: bold 36px Tahoma;
}
#plus {
    text-decoration: none;
}
#plus > div:hover {
    border: 2px solid red;
    color: red;
    cursor: pointer;
}

#parkingId > a {
    text-decoration: none;
}

/*.parkContainer > div {
    position: absolute;
    top: 150px;
    left: 20px;
}*/

.cellContainer {
    position: absolute;
    top: 0;
    left: 304px;
    border: 2px solid blue;
}

.cellContainer1 {
    position: absolute;
    top: 0;
    left: 314px;
    border: 2px solid green;
    background-color: lightgreen;
}

button {
    font-size: 20px;
    background-color: #aaaaaa;
}

button:hover {
    color:red;
}
